<li>
    {{name}}
    <button class="devourIt" data-id="{{id}}" data-newdevour="{{devour}}">
        {{#if devour}}Devour It!{{/if}}
        <button class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</li>